/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* My Code Starts Here */

* {    
	font-size: 62.5%;
}

body { 
	width: 1000px;
	margin: 0 auto;
}

.container {
	width: 100%;
}
.navigation {    
	display: flex;
	justify-content: space-between;
}

nav {
	display: flex; 
	flex-direction: row;
}

nav a {    
	padding: 14% 13% 5% 0;  
	text-decoration: none;    
	color: gray;
	display: flex;
}

.logo {
	padding: 6% 0 5% 4%;
	display: flex;
	justify-content: flex-end;
}

.header {   
	text-align: center;
	border-bottom: 2px solid black;
	display: flex;

}

.inside-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 12% 0 0 10%;
}
	
h1 {    
	font-size: 5rem; 
}

button {
	padding: 1.5% 10% 1.5% 10%;
	font-size: 1rem;
	margin-right: .2%;
	background: white;
}

button:hover {
	color: white;
	font-size: 2rem; 
	background: black;
}

p {
	font-family: cursive;
}

.circle {
	display: flex;
	margin: 5% 0 5% 12%;
	width: 45%;
	height: 42.5%;
}

.first-content {  
	display: flex;  
	margin-top: 10%;
	margin: 0 auto;
}

h3 {
	font-family: "Brush Script MT", cursive;
	font-size: 2rem;
}

.features {       
		width: 45%;    
		height: 20%;
		margin-top: 5%;
}

.about {        
	width: 45%;    
	height: 20%;
	margin: 5% 0 0 10%;
}

.middle-img { 
	width: 100%;
	margin: 5% 0 5% 0;
}

.second-content {    
	display: flex;
	flex-direction: row;
	justify-content: space-between;  
	border-bottom: 2px solid black;]
}

.services {        
	width: 27.5%;   
	height: 20%; 
	margin-bottom: 5%;
}

.product {    
	width: 27.5%;    
	height: 20%; 
}

.vision {    
	width: 27.5%;    
	height: 20%;
}

.contact {    
	padding: 3.5% 0 5% 0;    
}

.copyright {    
	padding-left: 37.5%;    
	padding-bottom: 7%;
}

@media(max-width: 800px) {
	body {
		width: 90%;
	}

	.navigation {
		flex-direction: column-reverse;
	}

	nav a {
		padding: 5% 10% 5% 0;
	}

	.logo {
		width: 30%;
		margin-left: 35%;
	}

	.circle {
		display: none;
	}

	.inside-header {
		margin: 10% 0 10% 30%;
	}
}